# .gitignore

# dependencies
node_modules

# next
.next
out

# production
build

dist

# logs
npm-debug.log*

# env files
.env
.env.local
.env.*.local

# misc
.DS_Store
data
tsconfig.tsbuildinfo

# playwright
test-results
playwright-report
blob-report
playwright/.cache
